@media screen and (min-width: 720px) and (max-width: 1000px) {
  .widget-content {
    overflow: hidden;
    width: 92%;
    margin-left: 8%;
  }
}

@media screen and (min-width: 720px) {
  .article-container,
  .comment-container,
  .article-skeleton {
    width: 92%;
    margin-left: 8%;
  }

  .article-container {
    overflow: hidden;
  }

  .article-panel {
    position: fixed;
    margin-left: -5rem;
    top: 100px;
  }
}

@media screen and (max-width: 720px) {
  .article-panel {
    display: none;
  }
}

.article-panel .lalaksks {
  color: #bbbbbb;
}

.article-panel .badge-item .el-badge__content {
  background-color: #bbbbbb;
}

.article-panel-item .el-button.is-circle {
  padding: 10px;
}

.article-panel-item:not(:first-child) {
  margin-top: 30px;
}

.pay-chose button {
  width: 120px;
  height: 45px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  display: inline-block;
  line-height: 40px;
  cursor: pointer;
}

.pay-chose button img {
  height: 25px;
  vertical-align: sub;
}

.pay-chose button.chosen {
  border-color: #0092ee;
}

.pay-body .alipay,
.pay-body .wechatpay {
  width: 220px;
  height: 220px;
}

.entry-footer button:not(:first-child) {
  margin-left: 20px;
}

.copyable {
  position: relative;
}

.copy-code-btn {
  position: absolute;
  top: 5px;
  right: 0;
  background: #a1a1a1;
  color: #fff;
  border-radius: 4px;
  padding: 0 4px;
  cursor: pointer;
  font-size: 12px;
}

.widget_catalog::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.widget_catalog::-webkit-scrollbar-thumb {
  background: var(--secondaryText);
  border-radius: 3px;
  border: 0;
}

.widget_catalog::-webkit-scrollbar-track-piece {
  background-color: #e7eaf1;
  border-radius: 3px;
}

.article-main .entry-content ol {
  margin: -0.5rem 0;
  overflow: hidden;
  overflow-x: auto;
  line-height: 1.6;
  list-style-type: none;
  counter-reset: item;
}

.article-main .entry-content ol > li {
  margin-bottom: 10px;
  padding-left: 20px;
}

.article-main .entry-content ol > li:before {
  content: counter(item);
    counter-increment: item;
    font-size: 11.4px;
    font-weight: 700;
    align-items: center;
    background-color: rgba(195,218,254,.43);
    border: 0 solid #999;
    border-radius: 9999px;
    color: rgba(85,134,210,.8);
    display: inline-flex;
    justify-content: center;
    margin-left: -40px!important;
    margin-right: 10px;
    margin-top: 4px;
    transform: translateY(-1px);
    width: 30px;
    box-sizing: border-box;
}
.article-main .entry-content ul li{
  padding-left: 20px; 
}
.article-main .entry-content ul li::marker {
  color: rgba(85,134,210,.8);
  transition: color .2s;
  content: '▶';
  font-size: 14px;
}

.article-main .entry-content ul li:hover::marker {
  color: #48e;
}

.article-main .entry-header .entry-tag{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
