$d: 18vmin;
$f: .5;
$t: 1s;

body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	background: lightslategray;
}

.taiji {
	display: flex;
	align-items: center;
	width: $d;
	height: $d;
	border-radius: 50%;
	background: linear-gradient(black 50%, white 0);
	animation: r 2*$t linear infinite;

	&:before,
	&:after {
		flex: 1;
		border: solid $d/6 white;
		height: $d/6;
		border-radius: 50%;
		transform-origin: 0 50%;
		transform: scale($f);
		background: black;
		animation: s $t ease-in-out infinite alternate;
		content: ''
	}

	&:after {
		border-color: black;
		transform-origin: 100% 50%;
		background: white;
		animation-delay: -$t;
	}
}

@keyframes s {
	to {
		transform: scale(2 - $f)
	}
}

@keyframes r {
	to {
		transform: rotate(1turn)
	}
}